#detailTerritoire{
    border-bottom: 1px solid black;
}
#detailDeplacement{
    margin-top: 5px;
}

#details{
    float: right;
    margin: auto;
}

#details, #listJoueur, #mapGame{
    display: inline-block;
}

#listJoueur{
    float:left;
    margin: auto;
    width: 200px;
}

#login, #gameWaitingScreen{
    margin-top: 5%;
    text-align: center;
}

#mapGame{
    text-align: center;
    margin: auto;
}

.carre{
    width: 20px;
    height: 20px;
    border-color: black;
}

.colorCircle{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border-color: black;
    display: inline-block;
}

.formElement{
    margin-bottom: 10px;
}

.formElement span{
    margin-right: 10px;
}
