<div id="gameScreen">
    <div id="listJoueur">

        <h3>Tour <span id="nbTour">1</span></h3>

        <h3>Liste joueurs</h3>

        <div ng-repeat="joueur in gameControl.joueurs">
            <span style="color: {{joueur.indiquation}}; font-weight: bold;">{{joueur.pseudo}}</span>
            <div class="colorCircle" style="background-color: {{joueur.color}};"></div>
        </div>

    </div>
    <div id="mapGame">
        <ng-include src="'/template/gameRisk.html'"></ng-include>
    </div>
    <div id="details">
        <div id="detailTerritoire">
            <div>
                Nom : <span id="nameTerritoire"></span>
            </div>
            <div>
                Joueur : <span id="joueurTerritoire"></span>
            </div>
            <div>
                Nombre d'Unités : <span id="uniteTerritoire"></span>
            </div>
            <div>
                Territoires Adjacents :<ul id="adjacentsTerritoire"></ul>
            </div>
        </div>
        <div id="detailDeplacement">
            <span id="territoireDepart"></span>
            <span id="territoireArrivee"></span>
            <div>
                Nb Unités : <input type="number" pattern="[0-9]" id="nbUnite"/>
            </div>
            <div>
                <button id="moveButton" disabled>Déplacer</button>
                <button id="passButton">Passer son tour</button>
            </div>
        </div>
    </div>
</div>

<script>
$("#moveButton").click(function(){

    var nbUnite = $("#nbUnite").val();

    if(parseInt(nbUnite) > 0){

        $.ajax({
            url: "/position/"+pseudo+"/"+zoneDepart+"/"+zoneArrivee+"/"+nbUnite,
            cache: false
        });
    }
    deselect();
});
$("#passButton").click(function(){
  $.ajax({
    url: "/position/"+pseudo+"/-1/-1/-1",
    cache: false
  });
  deselect();
});
</script>
