<div id="gameWaitingScreen">

    <div id="gameWaitingCounter">

    </div>

    <div id="gameWaitingStartButton" style="display: none;">
        <button ng-click="waitingControl.buttonStart();">Commencer</button>
    </div>

</div>
