<div id="login">

    <h2>Risk Online - Connexion</h2>
    <h3>Bienvenue</h3>

    <div class="formElement">
        <span>Login</span><input type="text" name="pseudo" id="pseudo" ng-model="loginControl.pseudoSaisi"/>
    </div>

    <button ng-href="#/connexion" ng-click="loginControl.login();">Connexion</button>

</div>
